rcbs-client-lib/src/main/resources/xsd/account-posting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:demo:rcbs"
           xmlns="urn:demo:rcbs"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="AccountPostingRequest" type="AccountPostingRequestType"/>
    <xs:element name="AccountPostingResponse" type="AccountPostingResponseType"/>

    <xs:complexType name="AccountPostingRequestType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string"/>
            <xs:element name="amount" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AccountPostingResponseType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="reference" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
