rcbs-client-lib/src/main/resources/xsd/e539/account-posting-e539.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:demo:rcbs:e539"
           xmlns="urn:demo:rcbs:e539"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

    <xs:element name="E539AccountPostingRequest" type="E539AccountPostingRequestType"/>
    <xs:element name="E539AccountPostingResponse" type="E539AccountPostingResponseType"/>

    <xs:complexType name="E539AccountPostingRequestType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string"/>
            <xs:element name="amount" type="xs:decimal"/>
            <xs:element name="tenantId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="E539AccountPostingResponseType">
        <xs:sequence>
            <xs:element name="requestId" type="xs:string"/>
            <xs:element name="status" type="xs:string"/>
            <xs:element name="reference" type="xs:string" minOccurs="0"/>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
            <xs:element name="e539Reference" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
